*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main styling */
/* core style */
html,body{
    font-family: 'Roboto', sans-serif;
    line-height:1.7em;
}
a{
    
    text-decoration:none;
}
h1,h2,h3{
    padding-bottom:20px;
}
p{
    margin: 10px 0;
}
.text-primary{
    color: orange;
}
.paragraph{
    font-size:20px;
}
.btn{
    display: inline-block;
    font-size: 20px;
    color:white;
    background: rgb(36, 35, 35);
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    /* btn need cursor point */
    }

    .btn:hover{
        background: rgba(233, 63, 63, 0.267);
    }
/* //////////////////////////// */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.bg-dark{
    background-color: #333;
    color:white;
}

.bg-primary{
    background-color: rgb(255, 136, 0);
}
.bg-second{
    background:white;
}
/* navigation bar */

#navbar
{   
    background: #333;
    color: white;
    overflow: auto;
    }
#navbar a{
    color:white;
}

#navbar h1{
    float:left;
    padding:20px 0 0 0;
}
#navbar ul {
    float: right;
    list-style:none;
}
#navbar ul li{
    float: left; 
/* no padding here */
}

#navbar ul li a{
    /* be more specific */
    display: block;
    padding: 20px;
    text-align:center;
}
#navbar ul li a:hover{
    background: rgba(233, 63, 63, 0.267);
}


.current-page{
    background: rgba(233, 63, 63, 0.267);
}


/* Second part */
#showcase{
    background:url(../images/showcase.jpg) no-repeat center ;
    /* you are inside css file so first u have to get out from css file  using "../" */
    /*  */
    height:600px;
    }

#showcase .showcase-content{
    color: white;
    text-align: center;
    padding-top:180px;
}    
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p{
    padding-bottom:30px;
    line-height:1.7em;
}

/* section 1 */
#section-1{
    height: 400px;
}
#section-1 .info-image{
    float: left;
    width: 50%;
    background: url(../images/photo-1.jpg) no-repeat ;
    min-height: 100%;
}
#section-1 .info-content{
    height: 400px;
    float: right;
    width: 50%;
    text-align: center;
    padding: 50px 30px ;
    overflow: hidden;
}
#section-1 .info-content p{
    padding-bottom: 30px ;
    line-height: 1.7em;
}

/* section-2 */
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.box i{
    margin-bottom: 10px;
}

/* footer */
 #main-footer{
    text-align: center;
    background: #444;
    color: white;
    padding: 10px;

}